*{
    margin: 0;
    padding: 0;
    
}
.div-init{
    position: absolute;
    bottom: 80%;
    left: 43.5%;
    font-size: 30px;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));;
}
.container-main{
     background-color: white;
     width: 80%;
     height: 600px;
     margin: auto;
     position: relative;
     border: 1px solid rgba(0, 0, 0, 0.104);
     overflow: hidden;
}
.end {
    background-color: rgba(0, 0, 0, 0.561);
}
.character{
    width: 200px;
    position: absolute;
    bottom: 0;
    border-radius: 100%;
}
.jump{
    animation: jump 500ms ease-in-out;
}
#cloud{
    width: 500px;
    position: absolute;
    transform: rotateY(180deg);
    animation: trunk-animation 10s infinite linear;
}
#cloud2{
    position: absolute;
    width: 300px;
    top: -30px;
    animation: cloud-animation 9s infinite linear;
}
#cloud3{
    position: absolute;
    width: 400px;
    bottom: 50%;
    animation: cloud-animation 11s infinite linear;
}

.trunk{
    width: 450px;
    position: absolute;
    bottom: -80px;
    right: -200px;
    
}
.floor{
    background-color: green;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15px;
    
}
.points{
    position: absolute;
    left: 10px;
}
.end-point{
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 45.6%;
    font-size: 20px;
    padding: 10px;
}
.restart{
    background-color: green;
    position: absolute;
    top: 40%;
    left: 45.5%;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    display: none;
}
.trunk-animation {
    animation: trunk-animation 1.5s infinite linear;
}

@keyframes trunk-animation {
    from {
        right: -260px;
    }
    to {
        right: 100%;
    }
}

@keyframes cloud-animation{
    from{
        left: -300px;
    }to {
        left: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 100px;
    }
    50% {
        bottom: 100px;
    }
    60% {
        bottom: 100px;
    }
    100% {
        bottom: 0;
    }
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }