*{
    margin: 0;
    padding: 0;
}

.container-main{
     background-color: white;
     width: 80%;
     height: 600px;
     margin: auto;
     position: relative;
     border: 1px solid rgba(0, 0, 0, 0.104);
     overflow: hidden;
}
.character{
    width: 200px;
    position: absolute;
    bottom: 0;
}
.cloud{
    width: 500px;
    position: absolute;
    left: -200px;
}
.trunk{
    width: 450px;
    position: absolute;
    bottom: -80px;
    right: -180px;
}
.floor{
    background-color: green;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15px;
}